.Card-porcentagem-presenca{
    width: 70%;
    height: auto;
    padding: 0.3vh, 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1F2448;
}

.Card-alta{
    border-style: solid;
    border-color: #ABF0C6;
}

.Card-baixa{
    border-style: solid;
    border-color: #B7423A;
}

.Card-porcentagem-presenca-titulo{
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.Card-porcentagem-presenca-dados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Card-porcentagem-presenca-circulo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 3vh 3vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1F2448;
}

.Porcentagem-alta{
    background-color: #ABF0C6;
}

.Porcentagem-baixa{
    background-color: #B7423A;
}

.Card-porcentagem-presenca-numeros h3{
    font-weight: 400;
}

@media(min-width: 992px){

    .Card-porcentagem-presenca{
        width: 40%;
    }

    .Card-porcentagem-presenca-titulo{
        width: 90%;
    }

}