.Presenca-individual{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: #2E3567;
}

.Presenca-individual-dados{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Presenca-individual-dados-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}