.Login{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(138,191,153);
    background: linear-gradient(0deg, rgba(138,191,153,1) 0%, rgba(226,239,229,1) 30%, rgba(255,255,255,1) 50%, rgba(226,239,229,1) 70%, rgba(138,191,153,1) 100%);
}

.Login h1{
    margin-top: 15vh;
    padding-bottom: 7vh;
    font-size: 6vh;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.Login h3{
    margin: 0;
    font-weight: 400;
    color: black;
}

.Login button{
    width: 35%;
    font-size: 2.5vh;
    border: none;
    background: rgb(0,204,153);
    background: linear-gradient(0deg, rgba(0,204,153,1) 0%, rgba(102,0,255,1) 100%); 
}

.Login button:active{
    outline: none;
}

.Login button:focus{
    outline: none;
}

.Login-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 9vh;
}

.Login input{
    width: 98%;
    height: 8vh;
    border-radius: 4px;
    padding-left: 2%;
    padding-top: 0.5vh;
    font-size: medium;
    border: none;
    background-color: white;
    color: black;
}

.Login input::placeholder{
    color: #A8A8B3;
}

.Login input:active{
    outline: none;
}

.Login input:focus{
    outline: none;
}

.Login-campos{
    width: 70%;
    padding-bottom: 30px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.Login-input{
    color: #a8a8b3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    width: 98%;
    padding-left: 2%;
    border-radius: 4px;
}

.Login-input i{
    font-size: 1.3em;
}

@media(min-width: 992px){

    .Login button{
        width: 20%;
    }

    .Login-campos{
        width: 50%;
    }

}