.input-hora-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 50px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
}
  
.clock-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-left: 8px;
    display: box;
}
  
.input-hora {
    border: none;
    outline: none;
    flex: 1;
    padding: 8px;
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.input-hora::placeholder {
    color: #A8A8B3;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}