@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.headerpage-container {
    background-color: #1F2448;
    /* min-height: 100vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    
    margin: 0;
    padding: 3rem 0 1rem 0;
    overflow: hidden;
}

.headerpage-container--titles {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    
}
  
.perfil-imagem {
    width: 125px;
    height: auto;
    /* margin-top: 70px; */
}

#titulo-nome-perfil {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: white;
    margin-bottom: 0;
}

#subtitulo-nome-perfil {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #92C3A0;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 700px) {
    .headerpage-container {
        flex-direction: row;
        gap: 3rem;
    }
    
}